apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://bitnami-labs.github.io/sealed-secrets
    chart: sealed-secrets
    targetRevision: 2.17.2
    helm:
      releaseName: sealed-secrets
      values: |
        revisionHistoryLimit: 3
  destination:
    server: https://kubernetes.default.svc
    namespace: sealed-secrets
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: ""
      kind: Service
      jsonPointers:
        - /spec/clusterIP

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets-web
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bakito.net
    chart: sealed-secrets-web
    targetRevision: 3.1.7
    helm:
      releaseName: sealed-secrets-web
      values: |
        revisionHistoryLimit: 3
        sealedSecrets:
          namespace: sealed-secrets
          serviceName: sealed-secrets
        service:
          type: NodePort
          nodePort: 32280
  destination:
    server: https://kubernetes.default.svc
    namespace: sealed-secrets
  syncPolicy:
    automated:
      prune: true
