apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.3/manifests/install.yaml
  - https://github.com/argoproj-labs/argocd-image-updater//manifests/base?ref=v0.17.0
  - applications/sealed-secrets.yaml
  - applications/dify.yaml
  - applications/docuseal.yaml
  - applications/cert-manager.yaml
  - applications/n8n.yaml
  - applications/chat.yaml
  - sealed-secrets/sealed-argocd-secret.yaml
  - sealed-secrets/sealed-ghcr-credentials.yaml
  - sealed-secrets/github-andex-tokyo-creds.yaml
  - applications/obsidian-sync.yaml
  - applications/rize-dashboard.yaml
patches:
  - path: argocd/argocd-cmd-params-cm.yaml
  - path: argocd/argocd-nodeport.yaml
  - path: argocd/argocd-application-controller.yaml
  - path: argocd/argocd-server.yaml
  - path: argocd/argocd-repo-server.yaml
  - path: argocd/argocd-secrets.yaml
  - path: argocd/argocd-image-updater-config.yaml
  - path: argocd/argocd-image-updater.yaml
